@page "/profile"
@using Welisten.Client.Pages.Profile.Models
@using Welisten.Client.Pages.Profile.Services
@using Microsoft.AspNetCore.Components.Authorization

@inject IUserService UserService;
@inject ISnackbar Snackbar;
@inject NavigationManager NavManager

<h3>Profile</h3>

<AuthorizeView>
    <Authorized>
        <MudCard Width="50%" Square="false" Outlined="true" 
                 Style="margin-bottom:50px; max-width: 300px; border-radius: 1rem;">
            <MudCardContent Align="left">
                <MudContainer Style="padding:0; margin-bottom: 10px">
                    <MudText Color="Color.Primary" Typo="Typo.subtitle2">User name</MudText>
                    <MudText Color="Color.Dark" Typo="Typo.subtitle1">@_model.Name</MudText>
                </MudContainer>
                <MudContainer Style="padding:0; margin-bottom: 10px">
                    <MudText Color="Color.Primary" Typo="Typo.subtitle2">First name</MudText>
                    <MudText Color="Color.Dark" Typo="Typo.subtitle1">@_model.FirstName</MudText>
                </MudContainer>
                <MudContainer Style="padding:0; margin-bottom: 10px">
                    <MudText Color="Color.Primary" Typo="Typo.subtitle2">Last name</MudText>
                    <MudText Color="Color.Dark" Typo="Typo.subtitle1">@_model.LastName</MudText>
                </MudContainer>
            </MudCardContent>
        </MudCard>
    </Authorized>
    <NotAuthorized>
        @{
            NavManager.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>


@code {
    private UserModel _model = new UserModel();

    protected override async Task OnInitializedAsync()
    {        
        try
        {
            _model = await UserService.Get();
        }
        catch (Exception e)
        {
            Snackbar.Add(e.Message, Severity.Error);
        }
    }
}